.montserrat-font {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: radial-gradient(45deg, #060606, #341f53);
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
}

.login, .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login form, table {
  width: 100%;
  max-width: 400px;
}

input, button {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.nav button {
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
}

.nav button.active {
  background-color: #007bff;
  color: white;
}

.content {
  display: none;
  padding: 20px;
  width: 100%;
}

.content.active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}
